*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
}
/* @font-face {
    font-family:Jost;
    src: url(../font/Jost.zip);
} */
body{
    background: #275c53;
    background-image: url(../photo/pattern_med_03_med_08.png);
}

.flexable{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: 100%;
    padding: 0 4rem;
}
header .all{
    padding: 2rem 0;
}
header .left{
    width: 30%;
}
header .main{
    width: 50%;
    margin-left: 60px;
}
header .main ul{
    list-style: none;
    position: relative;
}
header .main ul li{
    margin-right: 50px;
    position: relative;
}
header .main ul li i{
    font-size: 10px;
    color: #e2bb53;
}
header .main ul .underline::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2;
    background-color: #e2bb53;
    top: 18px;
    left: 0;
    opacity:0;
    transition: 0.5s;
}
header .main ul a{
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 12px;
    margin-right: 5px;
}
header .main ul li:hover ::after{
    width: 70%;
    height: 2px;
    opacity: 1;
}
header .main ul a:hover{
    color: #e2bb53 !important;
}
header .right a{
    margin-right: 20px;
    font-size: 20px;
}
header .right a:hover i{
    color: #e2bb53 ;
}
.slide .all{
    padding: 4rem 0;
}
.slide .left{
    width: 50%;
    padding: 3rem 0;
    position: relative;
}
.slide .left h1{
    font-weight: 500;
    font-size: 70px;
    margin-bottom: 20px;
}
.slide .left span{
    font-size: 20px;
    font-weight: 300;
}
.slide .left h1::before{
    position: absolute;
    content: '';
    width:83%;
    height: 3px;
    top: 120px;
    z-index: -1;
    left: 0;
    background-color: #e2bb53;
}
.slide .left h1::after{
    position: absolute;
    content: '';
    width:63%;
    height: 3px;
    top: 200px;
    z-index: -1;
    left: 0;
    background-color: #e2bb53;
}
.slide .left .list{
    padding: 2rem;
}
.slide .left .list .li{
    margin-bottom: 10px;
}
.slide .left .list .li span{
    font-weight: 300;
}
.slide .left .list i{
    padding: 0.5rem;
    background: #e2bb53;
    border-radius: 100%;
    color: #275c53;
    margin-right: 10px;
}
.slide .left button{
    padding: 1rem 4rem;
    border-radius: 40px;
    background: #e2bb53;
    border: 1px solid #e2bb53;
    transition: 0.5s;
}
.slide .left button::after{
    content: '';
    position: absolute;
    height: 10%;
    width: 20%;
    background-color: #fff;
    bottom: 0px;
    left: 0;
}
.slide .left button span{
    font-size: 14px;
    letter-spacing: 1px;
    color: #275c53;
}
.slide .right{
    width: 50%;
    padding: 3rem 3rem;
}
.slide .right img{
    width: 100%;
    animation: welcome 1s linear ;
}
@keyframes welcome {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
.product .all .box{
    width: 22%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.product .all .box:hover{
    cursor: pointer;
}
.product .all .box:hover .text{
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.product .all .box:hover .text span{
    opacity: 1;
}
.product .all .box:hover img{
    transform: scale(1.2);
    border-radius: 15px;
    filter: brightness(0.6);
}
.product .all .box .p-name:hover{
    color: #e2bb53;
}
.product .all .box img{
    width: 100%;
    border-radius: 15px;
    transition: 0.5s;
    vertical-align: bottom;
}
.product .all .box .text{
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    transition: 0.5s;
}
.product .all .box .text span{
    opacity: 0;
}
.product .all .box .text a{
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
}
.product .all .box .text .p-name{
    font-size: 24px;
}
.product .all .box .shop{
    position: absolute;
    bottom:30px;
    left: 50%;
    transform: translateX(-50%);
}
.product .all .box .shop a{
    color: #e2bb53;
    font-size: 12px;
    letter-spacing: 1px;
}
.product .all .box .shop:after{
    position: absolute;
    content: '';
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: #e2bb53;
}
.about{
    padding: 5rem 0;
}
.about .all .left{
    width: 50%;
}
.about .all .left img{
    width: 100%;
}
.about .all .right{
    width: 50%;
    position: relative;
}
.about .all .right h4{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}
.about .all .right h4::after{
    content: '';
    width: 30px;
    height:1px;
    background-color: #e2bb53;
    position: absolute;
    top: 7px;
    left: 30%;
}
.about .all .right h2 span{
    color: #e2bb53 !important;
}
.about .all .right h2{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px;
}
.about .all .right p{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
.about .all .right h5{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 50px;
}
.about .all .right .click button{
    width: 45%;
    padding: 1.5rem;
    border-radius: 60px;
    transition: 0.5s;
}
.about .all .right .click button a{
    color: #275c53;
}
.about .all .right .click .left{
    background-color: #e2bb53;
    border: 1px solid #e2bb53;
}
.about .all .right .click .left:hover{
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}
.about .all .right .click .right{
    background: #fff;
    border: 1px solid #fff;
}
.about .all .right .click .right:hover{
    background: #e2bb53;
    border: 1px solid #e2bb53;
    cursor: pointer;
}
.online{
    padding: 5rem 0;
}
.online .all{
    position: relative;
    text-align: center;
}
.online .all h5{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.online .all h5::after{
    content: '';
    background-color: #e2bb53;
    width: 100px;
    height: 1px;
    position: absolute;
    top:20px;
    left: 50%;
    transform: translateX(-50%);
}
.online .all h2{
    font-size: 48px;
    font-weight: 400;
    color: #e2bb53;
    margin-bottom: 40px;
}
.online .select-btn button{
    padding: 0.5rem 1rem;
    margin-right: 15px;
    border-radius: 40px;
    border: 1px solid #fff;
    background-color: #275c53;
}
.online .select-btn button:hover{
    border: 1px solid #e2bb53;
}
.online .products{
    padding: 4rem 0;
}
.online .products .box{
    width: 22%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.online .products .box .image img{
    border-radius: 15px;
    width: 100%;
    transition: 0.5s;
    margin-bottom: 25px;
    vertical-align: bottom;
    overflow: hidden;
}
.online .all .products .box .image:hover img{
    transform: scale(1.2);
    cursor: pointer;
}
.online .text i{
    color: #e2bb53;
    margin-right: 2px;
    font-size: 12px;
}
.online .text h4{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 300;
}
.online .text p{
    margin: 10px 0 10px 0;
    font-weight: 300;
}
.online .old-price{
    text-decoration: line-through;
    font-size: 24px;
    margin-right: 15px;
    opacity: 0.7;
}
.online .new-price{
    font-size: 24px;
    color: #e65338;
}
.online .products .box button{
    margin-top: 15px;
    padding: 0.5rem 1.5rem;
    border-radius: 40px;
    background-color:#e2bb53;
    border: 1px solid #e2bb53;
}
.online .products .box button a{
    font-size: 10px;
    text-transform: uppercase;
    color: #275c53;
    font-weight: 300;
    letter-spacing: 1px;
}
.online .products .box .image::after{
    content: 'SALE';
    padding: 10px; 
    font-size: 10px;
    top: 15px;
    right: 15px;
    position: absolute;
    background-color: darkred;
    border-radius: 100%;
}
.pati{
    padding: 5rem 0;
}
.pati .all{
    padding: 17rem 0;
    background-image: url(http://calmes.like-themes.com/wp-content/uploads/2021/01/amnesia-bg.png);
    background-size: cover;
    background-position:bottom;
    border-radius: 20px;
    position: relative;
}
.pati .all .text{
    position: absolute;
    top:80px;
    right: 100px;
    width: 30%;
}
.pati .all .text h1{
    color: #e2bb53;
    font-size: 48px;
    font-weight: 400;
}
.pati .all .text span{
    font-size: 90px;
}
.pati .all .text p{
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 30px;
}
.pati .all .text button{
    padding: 1rem 4rem;
    background-color: #e2bb53;
    border: 1px solid #e2bb53;
    border-radius: 40px;
}
.pati .all .text button a{
    color: #275c53;
}